<div class="container">
    <br>
  <h1>Crew for {{show?.name}}</h1>
    <h2>Add a member:</h2>
    <form>
      <div class="form-row align-items-center">
        <div class="col-6">
        <label class="sr-only" for="inlineFormInput">Name</label>
        <input type="text" class="form-control mb-2 mb-sm-0" id="inlineFormInput" placeholder="Name" [(ngModel)]="newCrew.name" name="name"/>
        </div>
        <div class="col-6">
          <label class="sr-only" for="inlineFormInputGroup">Email</label>
          <div class="input-group mb-2 mb-sm-0">
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Email" [(ngModel)]="newCrew.email" name="email"/>
          </div>
        </div>
      </div>
      <br>
      <div class="form-row align-items-center">
        <div class="col-1">
            <select class="custom-select " id="inlineFormCustomSelect" [(ngModel)]="newCrew.role" name="role">
                <option selected>Role</option>
                <option value="Cast">Cast</option>
                <option value="Crew">Crew</option>
                <option value="Actor">Actor</option>
                <option value="Writer">Writer</option>
                <option value="Extra">Extra</option>
              </select>
            </div>
        <div class="col-7">
          <label class="sr-only" for="inlineFormInput">Phone Number</label>
          <input type="text" class="form-control mb-2 mb-sm-0" id="inlineFormInput" placeholder="Phone Number" [(ngModel)]="newCrew.phoneNumber" name="phone"/>
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-dark btn-block" (click)="addCrew()" [disabled]="!newCrew.name">Add</button>
        </div>
      </div>
    </form>

<br>

<table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let castMember of show?.crew">
      <td>{{ castMember.name }}</td>
      <td>{{ castMember.role }}</td>
      <td><a [href]="'mailto:' + castMember.email + '?Subject=Test%20Email'">{{ castMember.email }}</a></td>
      <td>{{ castMember.phoneNumber }}</td>
      <td>
        <button class="btn btn-link">
            <img src="assets/images/pencil.png" width="30" />
       </button>
      </td>
      <td>
        <button class="btn btn-link" (click)="delete(castMember)">
            <img src="assets/images/trash-can.png" width="30" />
       </button>
      </td>
    </tr>
  </table>
</div>