<body>
  <div class="card text-white bg-dark mb-3 mx-auto text-center" style="max-width: 60rem;">
    <div class="card-header"><img src="../img/logo.png" class="img-fluid"></div>
    <div class="card-body">
      <form>
        <div class="form-row">
          <div class="col">
            <input type="text" class="form-control" placeholder="First name">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Last name">
          </div>
        </div>
        <br/>
        <div class="form-row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Username">
          </div>
        </div>
        <br/>
        <div class="form-row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Email">
          </div>
        </div>
        <br/>
        <div class="form-row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Phone Number">
          </div>
        </div>
        <br/>
        <div class="form-row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Role">
          </div>
        </div>
        <br/>
        <div class="form-row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Password">
          </div>
        </div>
        <br/>
        <div class="form-row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Confirm Password">
          </div>
        </div>
      </form>
      <button type="button" class="btn btn-light">Create Account</button>
      <br/>
      <br/>
      <a href="">Have an account already? Login.</a>
    </div>
  </div>
</body>

