<table class="table table-striped">
  <tr>
    <th>Cue Name</th>
    <th>Cue Type</th>
    <th>Cue Action Call</th>
    <th>Called?</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr *ngFor="let cue of cues">
    <td>{{ cue.name }}</td>
    <td>{{ cue.type }}</td>
    <td>{{ cue.actionCall }}</td>
    <td>
      <input type="checkbox" [(ngModel)]="cue.called">
    </td>
    <td>
      <a href="javascript:void(0)">Edit</a>
    </td>
        <td>
          <a href="javascript:void(0)">Delete</a></td>
  </tr>
</table>