<div class="container">
    <h1>My-Scripts</h1>
    <br>
    <div class="row">
        <div class="col-6">
            <h3>Add a Script</h3>
            <br>
            <input type="file" id="getFile" placeholder="Upload file" name="urlF" accept=".pdf,.doc,.docx" (change)="add($event)">
            <button class="btn btn-info" (click)="add()" [disabled]="!newScript.url">Add</button>
        </div>
        <div class="col-6">
            <h3>View a Script</h3> 
            <br>   
            <select [(ngModel)]="active" (ngModelChange)="update($event)">
                    <option [ngValue]="undefined" disabled>Choose a Script</option>
                    <option *ngFor="let script of scripts; let i = index;" [ngValue]="script"> {{script.name}}</option>
            </select>
        </div>
    </div>
    <br><br>    

    <object width="800" height="1200" [data]="cleanURL('assets/' + active.url)"></object>
</div>